/*Prevent Problems on Different Browsers*/
* {box-sizing: border-box;}


body {
    font-family: 'IM FELL DW Pica', serif;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #E5DCCF;
    padding: 1rem 10px;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.header-logo {
  width: 100px;
  height: auto;
}

.header-text {
  font-size: 48px;
  font-weight: bold;
}
header span {
    color: #4A3B31;
    font-size: 2.6rem;
    font-weight: 700;
}

/* small screen navigation */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #8C501B;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
        text-transform: uppercase;
    }
    nav .active a {
        color: white;
        background-image: linear-gradient(to bottom, #a3c9b8, #728B80);
        background-color: #8C501B 
    }
} /* end small screens */

/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width: 801px) {

nav {
    background-color: #728B80;

}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #E5DCCF;
    font-weight: 700;
}


nav li.active a {
    background-color: #D0A880;
    color:#4A3B31 ;
}


nav a:hover {
    color: #4A3B31;
}
} /* end LARGE screens */



/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4A3B31;
}
main h2 {
    color: #728B80;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #728B80;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #4A3B31;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
    
}

main a {
    color: #4A3B31;
    text-decoration: underline;
    
}
main a:hover {
    color: #728B80;
    text-decoration: underline;
}

.hero {
    width: 100%;
    height: auto;
}
/* main image stuff here */

figure.wrapped {
    margin: 0 0 0 20px;
    width: 50%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

/* gallery stuff here */

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap:20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color:#728B80;
}

div.gallery img {
    border-radius: 5px;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* tabel stuff here */
table.offerings {
    width: 100%;
    border-collapse: collapse;
}
table.offerings th {
    background-color: #728B80;
    color: white; 
    padding: .6rem 2%;
    text-align: left;
}
table.offerings td {
    color: #728B80;
    padding: .4rem 2%;
}
table.offerings tr:nth-child(odd) {
    background-color: #eee;
}
table.offerings tr:hover {
    background-color: #ddd;
}

/* footer  stuff here */
footer {
    background-color: #E5DCCF;
    text-align: center;
    padding: 1rem 0;
    font-size: .6rem;
    color: #4A3B31;
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}

.myForm fieldset {
    border: 1px solid #728B80;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #728B80;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea{
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea {
    border: solid 1px #4A3B31;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'IM FELL DW Pica', serif;
    font-weight: 200; 
}
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: #E5DCCF; 
}


.myForm [type=submit] {
    background-color: #728B80;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white; 
    margin: 1rem 0 0 1vw; 
    font-family: "Prata", Static; 
}
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}