body {
    font-family: "Prata", Static;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #E5DCCF;
    padding: 1rem 10px;
}

header span {
    color: #4A3B31;
    font-size: 2.6rem;
    font-weight: 700;
}


/* navigation stuff here */
nav {
    background-color: #728B80;

}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #E5DCCF;
    font-weight: 700;
}


nav li.active a {
    background-color: #D0A880;
    color:#4A3B31 ;
}


nav a:hover {
    color: #4A3B31;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4A3B31;
}
main h2 {
    color: #728B80;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #728B80;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #4A3B31;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
    
}
main address {
    font-style: normal;
    background-color: #D0A880;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #4A3B31;
    width: 200px;
}
main a {
    color: #4A3B31;
    
}
main a:hover {
    color: rgb(180, 4, 18);
}

/* footer  stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .6rem;
    color: #333;
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}